.sider {
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    &__label {
        margin: 0;
        font-size: 17px;
        flex: 1;
        opacity: 1;
        transition: all 0.3s ease;
        width: 100%;

        &[collapsed="true"] {
            width: 0;
            opacity: 0;
        }
    }
}
