.accounts {
    &__header {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        border-top: 1px solid #ddd;
    }

    &__title {
        margin: 0px;
        font-size: 17px;
        padding: 10px 20px;
    }

    &__buttons {
        padding: 0px 20px;
        flex: 1;
        display: flex;
        justify-content: end;
    }

    &__list {
        padding: 20px;
    }

    // create
    &__form-item {
        margin: 0;
    }

    &__input-data {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
    }

    // end create

    // navigation
    &__navigation {
        height: 55px;
        margin: 0px 20px;
        margin-top: 20px;
        background-color: #fff;
        padding: 0px 15px;
    }

    // end navigation

    // Detail
    &__box {
        padding: 20px;
        margin: 20px;
        background-color: #fff;
    }

    &__label {
        font-size: 1rem;
        font-weight: 500;
    }

    &__content {
        font-size: 1rem;
    }

    // End Detail
}

.table {
    &__image {
        width: 80px;
    }
}