.margin-bottom {
    margin-bottom: 7px;
}

.product {
    &__buttons {
        padding: 0px 20px;
        flex: 1;
        display: flex;
        justify-content: end;
    }

    &__list {
        padding: 20px;
    }

    &__navigation {
        height: 55px;
        margin: 0px 20px;
        margin-top: 20px;
        background-color: #fff;
        padding: 0px 15px;
    }

    &__form-item {
        margin: 0;
    }

    &__input-data {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
    }

    &__desc {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }

    &__label-desc {
        padding-bottom: 8px;
    }

    &__position {
        width: auto;
    }

    &__filter-category {
        width: 100%;
    }

    // Detail
    &__box {
        padding: 20px;
        margin: 20px;
        background-color: #fff;
    }

    &__label {
        font-size: 1rem;
        font-weight: 500;
    }

    &__content {
        font-size: 1rem;
    }

    // End Detail
}

.row-height {
    height: 100%;
}

.table {
    &__image {
        width: 80px;
    }
}